html, body {width: 100%; height: 100%; margin:0;}
body {
font-size:large;
display: flex;
flex-direction: column;
}


h3 {
  color: red;
}




input, #file {
font-size:20px;
}


#download {
font-size:20px;
width:30%;
float: right;
}

div.controlButton {
  float:right;

}
#controls {
 padding:15px; 
 flex: none;
 border-bottom:1px solid black;
}

footer {
  border-top:1px solid black;
  background-color: indianred;
  text-align: center;
  padding:5px;
  font-size: large;
}

#mapContainer {
/* width: 100%; height: 100%; bottom:0px; top:0px; */
flex: 1;
  height: 100%;
  overflow-y: hidden;
}

#positionControls {
display:none;
}

#upload {
width:60%;
float: left;
padding:15px;
}

form {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}




.box {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.box .row {
  border: 1px dotted grey;
}

.box .row.controls {
  flex: 0 1 auto;
}

.box .row.mapContainer {
  flex: 1 1 auto;
}

