<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.3.1/leaflet.css"/>
    <link rel="stylesheet"  type= "text/css" href= "{{ url_for('static',filename='css/styles.css') }}" />

    <title>Strava art generator</title>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js">
    </script>

    <script type="text/javascript" src="/static/js/displayTrack.js"></script>

</head>
<body>


<div id="controls">
    <div id="upload">
        <form id="upload-file" method="post" enctype="multipart/form-data">
           
                <input name="file" id="file" type="file" class="inputfile">
                <button id="upload-file-btn" type="button"  class="button">Upload</button>

        </form>
    </div>
    <div id="download">
        <button class="button" id="downloadGPX" style="display:none">Download GPX</button>
    </div>
</div>


<div id="mapContainer" style="width: 100%; height: calc(90% - 50px); position:absolute; bottom:0px"></div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.3.1/leaflet.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-gpx/1.4.0/gpx.min.js"></script>

</body>
</html>