<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.3.1/leaflet.css" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/styles.css') }}" />

    <link rel="stylesheet" href="{{ url_for('static',filename='css/normalize.css')}}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/skeleton.css')}}">

    <title>Strava art generator</title>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js">
    </script>

    <script type="text/javascript" src="/static/js/displayTrack.js"></script>

</head>

<body>

   
    
        <div id="controls" class="controls container">

            
            <div class="row">
                <div id="upload" class="six columns">
                    <form id="upload-file" method="post" enctype="multipart/form-data">

                        <input name="file" id="file" type="file" class="inputfile">
                        <button id="upload-file-btn" type="button" class="button">Upload</button>

                    </form>
                </div>
                <div id="download " class="three columns controlButton">
                    <a class="button" id="downloadGPX" style="display:none; padding:10px">Download GPX</a>
                </div>
            </div>

            <div class="row" id="positionControls">
                <div class="three columns">
                    <label for="position">Top left:</label>
                    <input name="position" id="position" type="text" value="51.765688,-1.245077">
                </div>
                <div class="three columns">
                    <label for="scale">Scale:</label>
                    <input name="scale" id="scale" type="text" value="1.0">
                </div>
                <div class="three columns controlButton" id="updatePos">
                    <button id="updatePosition" type="button" class="button">Update</button>
                </div>
            </div>

        </div>


        <div id="mapContainer" class="mapContainer"></div>

    
        <footer>Strava Art - a Cowley Club production</footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.3.1/leaflet.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-gpx/1.4.0/gpx.min.js"></script>

</body>

</html>